// --------- resources of type Icon -----------
MAINICON Icon "Icon.ico"
// -- version --
VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,1,0,1
PRODUCTVERSION 1,1,0,1
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",        "AlexBond\0"
            VALUE "FileDescription",    "Xom2Xml\0"
            VALUE "FileVersion",        "1.1.0.1\0"
            VALUE "LegalCopyright",     "2022 AlexBond\0"
            VALUE "OriginalFilename",   "Xom2Xml\0"
            VALUE "ProductName",        "Xom2Xml\0"
            VALUE "ProductVersion",     "1.1.0.1\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x419, 1200
    }
}
